:root {
    --font-display: var('Montserrat');
    --font-book: var('Inter');
}
.cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    max-width: 77rem;
    margin-bottom: 10rem;
  }
  
  .col-6 {
    width: 50%;
  }
  .col-4 {
    width: 35%;
  }
  .col-8 {
    width: 65%;
  }
  .col-12 {
    width: 100%;
  }
  a {
    color: #111;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }

body {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    color: #111;
    margin: 2.5rem 6.5rem 0 6.5rem;
  }
  
  /* Estilize o cabeçalho */
  header {
    font-family: 'Montserrat', sans-serif;
  }
  
  /* Estilize o logotipo do cabeçalho */
  header h1 {
    font-size: 4.5rem;
    font-weight: 300;
    margin: 0;
  }
  
  /* Estilize a navegação do cabeçalho */
  header nav ul {
    list-style: none;
    text-align: right;
    font-size: 2rem;
    font-weight: 400;
  }
  
  header nav ul li {
    display: inline-block;
  }
  
  header nav ul li a {
    display: block;
    padding-left: 1.5rem;
  }
  
  
  /* Estilize as seções de conteúdo */
  main div h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 4rem;
    width: 100%;
    max-width: 56rem;
    margin-bottom: 10rem;
  }
  main section {
    margin-top: 3rem;
  }
  main section h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
  }

  main section p{
    font-size: 2rem;
  }
  
  main section ul {
    list-style: none;
    display: inline;
    margin: 0;
    padding: 0;
  }
  
  main section li {
    margin-bottom: 20px;
  }
  
  main section img {
    max-width: 100%;
    border-radius: 2rem;
    margin-top: 3rem;
  }
  
  main section h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    margin: 0;
    margin-top: 1rem;
  }
  main section ul p {
    font-family: inherit;
    font-weight: 400;
    font-size: inherit;
    margin: 0;
    margin-top: 0.5rem;
  }
  
  /* Estilize o rodapé */
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  footer p {
    margin: 0;
    font-size: 14px;
  }
  

