:root {
    --font-display: var('Montserrat');
    --font-book: var('Inter');
}


body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #111;
    margin: 0px 40px 0 40px;
  }
  
  /* Estilize o cabeçalho */
  header {
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
  }
  
  /* Estilize o logotipo do cabeçalho */
  header h1 {
    margin: 0;
  }
  
  /* Estilize a navegação do cabeçalho */
  header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
  }
  
  header nav ul li {
    display: inline-block;
  }
  
  header nav ul li a {
    color: #111;
    display: block;
    padding-left: 24px;
    text-decoration: none;
  }
  
  header nav ul li a:hover {
    text-decoration: underline;
  }
  
  /* Estilize as seções de conteúdo */
  main div h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 48px;
  }
  
  main section h2 {
    font-size: 24px;
    margin: 20px 0;
  }
  
  main section ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  main section li {
    margin-bottom: 20px;
  }
  
  main section a img {
    max-width: 100%;
  }
  
  main section h3 {
    font-size: 18px;
    margin: 10px 0;
  }
  
  /* Estilize o rodapé */
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  footer p {
    margin: 0;
    font-size: 14px;
  }
  